<mat-toolbar>
    {{'SECURITY.CHANGE_PASSWORD'|translate}}
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>


<section fxLayout="row wrap">
    <form class="main-form" [formGroup]="dataFRM" novalidate autocomplete="off">

        <mat-dialog-content>

            <div fxLayoutAlign="center center" class="spinner-container" *ngIf="isRequesting">
                <mat-spinner color="accent" [diameter]="40"></mat-spinner>
            </div>
            <br />
            <mat-card-content>
                <mat-form-field>
                    <mat-label>{{'SECURITY.PASSWORD'|translate}}</mat-label>
                    <input matInput type="password" placeholder="{{'SECURITY.PASSWORD'|translate}}"
                        formControlName="password" id="password" cdkFocusInitial>
                    <mat-hint>{{ 'SYSTEM.VALIDATION.ENTER_CURRENT_PASSWORD' | translate }}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{'SECURITY.NEW_PASSWORD'|translate}}</mat-label>
                    <input matInput type="password" placeholder="{{'SECURITY.NEW_PASSWORD'|translate}}"
                        formControlName="newPassword" id="newPassword" [errorStateMatcher]="matcher" cdkFocusInitial>

                    <mat-hint>{{ 'SYSTEM.VALIDATION.LENGTH_MAX' | translate:{'length':'30'} }}</mat-hint>
                    <mat-error *ngIf="hasError('password', 'required')">{{'USERS.ERROR.REQUIRED' | translate}}
                    </mat-error>
                    <mat-error *ngIf="hasError('password', 'minlength')">
                        {{ 'SYSTEM.VALIDATION.LENGTH_MIN' | translate:{'length':'4'} }}</mat-error>
                    <mat-error *ngIf="dataFRM.hasError('isSameOldPassword')">
                        {{ 'SYSTEM.VALIDATION.PASSWORD_NOT_SAME_OLD' | translate }}
                    </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-label>{{'SECURITY.NEW_PASSWORD_VERIFY'|translate}}</mat-label>
                    <input matInput type="password" placeholder="{{'SECURITY.NEW_PASSWORD_VERIFY'|translate}}"
                        formControlName="newPasswordVerify" id="newPasswordVerify" [errorStateMatcher]="matcher"
                        cdkFocusInitial>
                    <mat-error *ngIf="dataFRM.hasError('notSame')">
                        {{ 'SYSTEM.VALIDATION.PASSWORD_NOT_MATCH' | translate }}
                    </mat-error>
                </mat-form-field>
                <br />
            </mat-card-content>

        </mat-dialog-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!dataFRM.valid && isRequesting" tabindex="1"
                (click)="saveData()">
                {{'SYSTEM.RECORD.SAVE'|translate}}
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onClose()">
                {{'SYSTEM.RECORD.CANCEL'|translate}}
            </button>
        </mat-card-actions>

    </form>

</section>