.tooltip-icon {
  font-size: 17px;
  color: rgb(65, 129, 224);
  cursor: pointer;
}

.tooltip-container {
  background: #fff;
  color: rgb(83, 83, 83) !important;
  padding: 10px;
  border: 1px solid #c9c9c9;
  font-size: 12px;
  -webkit-box-shadow: 1px 1px 13px -2px rgba(163, 163, 163, 1);
  -moz-box-shadow: 1px 1px 13px -2px rgba(163, 163, 163, 1);
  box-shadow: 1px 1px 13px -2px rgba(163, 163, 163, 1);
}
