.snackbar-dialog-title {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.snackbar-dialog-content {
    font-size: .9rem;
    overflow-wrap: break-word;
}

.snack-dialog-container {    
    padding: 24px 26px;
    cursor: pointer;
}