<mat-toolbar color="danger">
  {{'SYSTEM.RECORD.INSPECT_PROCESS'|translate}} |
  <span *ngIf="name !== ''" class="header-container-title">{{name}}</span>
  <span class="header-image-title" [ngClass]="{'small-image-name' : name !== ''}">{{title}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <pre>{{resultData|json}}</pre>
</mat-dialog-content>
