mar-card {
  margin-top: 40px;
}
.image-progress-title{
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  font-size: .7rem;
}

.image-progress-content{
  font-size: .8rem;
  color: #9a9a9a;
}

.image-progress-status{
  font-size: .7rem;
  font-weight: bold;
  color: #a4a4a4;
  border-top: 1px solid #aaa;
}



