@mixin tps-widget-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    tps-widget {

        > .tps-widget-front,
        > .tps-widget-back {
            background: map-get($background, card);
            border-color: map-get($foreground, divider);
        }
    }
}
