<div class="side-form">

  <section fxLayout="row wrap" fxLayoutAlign="center center">

    <form class="main-form" [formGroup]="dataFRM" novalidate autocomplete="off">
      <mat-card>
        <mat-card-title>
          <h2 mat-dialog-title> {{TITLE}}</h2>
        </mat-card-title>

        <mat-card-content>

        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-raised-button color="primary" [disabled]="!dataFRM.valid" tabindex="1" (click)="saveData()">
            {{'SYSTEM.RECORD.SAVE'|translate}}
          </button>

          <button type="button" mat-raised-button color="warn" routerLink="/app/docker-containers">
            {{'SYSTEM.RECORD.CANCEL'|translate}}
          </button>
        </mat-card-actions>

      </mat-card>

    </form>
  </section>

</div>
