<div fxLayout="row" fxLayoutGap="10px">
  <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
    <mat-card class="system-info-clickable-card">
      <mat-card-header>
        <mat-card-title class="system-info-card-title">
          {{'APPLICATIONS.SWARM.NODE.CPU'| translate}} /
          {{'APPLICATIONS.SWARM.NODE.MEMORY'| translate}}
        </mat-card-title>
        <mat-card-subtitle>
          {{'APPLICATIONS.SWARM.NODE.TOTAL_CPU'| translate}} {{ nodeInfo.totalCpu}} /
          {{'APPLICATIONS.SWARM.NODE.TOTAL_MEMORY'| translate}} {{ nodeInfo.totalMemory | formatbytes:2}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="system-chart">
        <mat-spinner *ngIf="isRequesting" diameter="70"></mat-spinner>
        <div class="chart-panel" [tpsMyEcharts]="swarmGraphOptions" #tpsEChartImage *ngIf="!isRequesting">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br />

<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="100%">
    <mat-toolbar class="custom-mat-toolbar">
      {{'APPLICATIONS.SWARM.TITLE'| translate}} 
      <button mat-icon-button (click)="loadData()" color="primary" title="{{'SYSTEM.REFRESH' | translate}}">
        <mat-icon>cached</mat-icon>
      </button>
      <span class="example-fill-remaining-space"></span>
      
      <button mat-raised-button (click)="inspectSwarm()">
        Swarm Inspect
      </button>
      <button mat-raised-button routerLink="service">
        New Service
      </button>
      <button mat-raised-button routerLink="join">
        Join
      </button>
    </mat-toolbar>

    <mat-card>
      <mat-card-content>
        <div class="t-container mat-elevation-z0">
          <mat-progress-bar mode='indeterminate' *ngIf="isRequesting"></mat-progress-bar>

          <table mat-table [dataSource]="dataSource" class="table" matSort>

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> {{'SYSTEM.RECORD.ACTION_BUTTON'| translate}} </th>
              <td mat-cell *matCellDef="let element" data-label="id">

                <button mat-button color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon>settings</mat-icon> <!-- {{'SYSTEM.RECORD.ACTION_BUTTON'| translate}} -->
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">

                  <button mat-menu-item (click)="unlockSwarm(element)">
                    <mat-icon class="mat-18">update</mat-icon> Unlock
                  </button>

                  <button mat-menu-item color="warn" (click)="inspectProcess(element)">
                    <mat-icon class="mat-18">search</mat-icon>Inspect Node
                  </button>

                </mat-menu>

              </td>

            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'APPLICATIONS.SWARM.NODE.DESCRIPTION'| translate}}
              </th>
              <td mat-cell *matCellDef="let element" data-label="description">
                <span class="field-title d-none d-b-sm">
                  {{'APPLICATIONS.SWARM.NODE.DESCRIPTION'| translate}} :
                </span>
                {{element.description.hostname}} <small>{{element.description.platform.os}}</small>
              </td>
            </ng-container>

            <ng-container matColumnDef="managerStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'APPLICATIONS.SWARM.NODE.MANAGER_STATUS'| translate}}
              </th>
              <td mat-cell *matCellDef="let element" data-label="managerStatus">
                <span class="field-title d-none d-b-sm">
                  {{'APPLICATIONS.SWARM.NODE.MANAGER_STATUS'| translate}} :
                </span>
                {{element.managerStatus?.leader}} / {{element.managerStatus?.reachability}}
              </td>
            </ng-container>

            <ng-container matColumnDef="spec">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'APPLICATIONS.SWARM.NODE.SPEC_ROLE'| translate}}
              </th>
              <td mat-cell *matCellDef="let element" data-label="spec">
                <span class="field-title d-none d-b-sm">
                  {{'APPLICATIONS.SWARM.NODE.SPEC_ROLE'| translate}} :
                </span>
                {{element.spec.role}} <small>{{element.spec.availability}}</small>
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{'APPLICATIONS.SWARM.NODE.STATUS_ADDRESS'| translate}}
              </th>
              <td mat-cell *matCellDef="let element" data-label="ipam">
                <span class="field-title d-none d-b-sm">
                  {{'APPLICATIONS.SWARM.NODE.STATUS_ADDRESS'| translate}} :
                </span>
                {{element.status.addr}} <small>{{element.status.state}}</small>
              </td>
            </ng-container>


            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'SYSTEM.RECORD.CREATED_ON'| translate}} </th>
              <td mat-cell *matCellDef="let element" data-label="createdAt">
                <span class="field-title d-none d-b-sm">
                  {{'SYSTEM.RECORD.CREATED_ON'| translate}} :
                </span>
                <span title="{{element.createdAt}}">{{element.createdAt| timeAgo}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="updatedAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'SYSTEM.RECORD.UPDATED_ON'| translate}} </th>
              <td mat-cell *matCellDef="let element" data-label="updatedAt">
                <span class="field-title d-none d-b-sm">
                  {{'SYSTEM.RECORD.UPDATED_ON'| translate}} :
                </span>
                <span title="{{element.updatedAt}}">{{element.updatedAt| timeAgo}}</span>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row [ngClass]="{'make-gold': row.isLockedOut }" *matRowDef="let row; columns: displayedColumns;">
            </tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data-cell" colspan="7">
                <img src="assets/images/is-requesting.png" *ngIf="isRequesting" />                
                <ng-container *ngIf="!isRequesting && !isServerError">
                  <img src="assets/images/no-data.png" />
                  <br>
                  <span class="no-records">
                    {{'SYSTEM.NO_RECORDS' | translate}}
                  </span>  
                  <button mat-button color="primary" routerLink="add">
                    {{'SYSTEM.CLICK_TO_CREATE' | translate}}
                  </button>
                </ng-container>
                <ng-container *ngIf="isServerError">
                  <img src="assets/images/no-data.png" />
                  <br>
                  <span class="sth-went-wrong">
                    {{'SYSTEM.STH_WENT_WRONG' | translate}}
                  </span>
                  <button mat-button color="primary" (click)="loadData()">
                    {{'SYSTEM.TRY_AGAIN' | translate}}
                  </button>
                </ng-container>
              </td>
            </tr>
          </table>

        </div>

      </mat-card-content>

      <mat-card-footer>
        <mat-paginator #paginator [length]="itemCount" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 400, 1000]" (page)="pageChanged($event)"
          showFirstLastButtons="true">
        </mat-paginator>
      </mat-card-footer>

    </mat-card>

  </div>

  <button mat-fab align="end" id="my-add-button" color="primary" routerLink="create">
    <mat-icon>add</mat-icon>
  </button>


</div>

<div class="view-side-form">
  <router-outlet></router-outlet>
</div>